# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/aula01Tarde/nbproject/private/
/aula01Tarde/build/
/aula02Tarde/nbproject/private/
/aula02Tarde/build/
/aula03Tarde/nbproject/private/
/aula03Tarde/build/
/aula04Tarde/nbproject/private/
/aula04Tarde/build/
/aula05Tarde/nbproject/private/
/aula05Tarde/build/
/aula06Tarde/nbproject/private/
/aula06Tarde/build/
/aula12Tarde/nbproject/private/
/aula12Tarde/build/
/aula13Tarde/nbproject/private/
/aula13Tarde/build/
/aula14Tarde/nbproject/private/
/aula14Tarde/build/
/aula14Tarde/dist/
/lab03/nbproject/private/
/lab03/build/
/lab03-velho/nbproject/private/
/lab03-velho/build/